/* style.css */
.table_container {
    width: 90vw;
    position: absolute;
    top: 100px;
    left: 5vw;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    cursor: pointer;
}


.table-index {
    width: 3vw;
}

.file-name{
    width: 20vw;
}

.key{
    width: 15vw;
}

.delete{
    width: 3vw;
}