{% extends "layout.html" %}

{% block main %}
<div class="container">
    <h1>パスワード管理</h1>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>ファイル名</th>
                <th>キー</th>
                <th>メモ</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for id, file_name, key, memo in passwords %}
            <tr id="password-{{ id }}">
                <td>{{ loop.index }}</td>
                <td>{{ file_name }}</td>
                <td>{{ key }}</td>
                <td>{{ memo }}</td>
                <td><button onclick="deletePassword({{ id }})">削除</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function deletePassword(passwordId) {
        fetch('/delete_password/' + passwordId, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // 行を削除
                    var row = document.getElementById('password-' + passwordId);
                    row.parentNode.removeChild(row);
                }
            });
    }
</script>
{% endblock %}