{% extends "layout.html" %}

{% block main %}
<div class="table_container">
    <h1>パスワード管理</h1>
    <table>
        <thead>
            <tr>
                <th class="table-index"></th>
                <th class="file-name">ファイル名</th>
                <th class="key">キー</th>
                <th class="created_at">作成日</th>
                <th>メモ</th>
                <th class="delete">削除</th>
            </tr>
        </thead>
        <tbody>
            {% for id, file_name, key, created_at, memo in passwords %}
            <tr id="password-{{ id }}">
                <td>{{ loop.index }}</td>
                <td>{{ file_name }}</td>
                <td>{{ key }}</td>
                <td>{{ created_at }}</td>
                <!-- <td>{{ memo }}</td> -->
                <td>
                    <span class="editable-memo" data-original="{{ memo }}">{{ memo }}</span>
                    <span class="edit-icon" onclick="enableEditing({{ id }})">&#9998;</span> <!-- ペンマーク -->
                    <span class="save-icon" style="display:none;" onclick="saveMemo({{ id }})">&#10004;</span>
                    <!-- チェックマーク -->
                    <span class="cancel-icon" style="display:none;" onclick="cancelEditing({{ id }})">&#10006;</span>
                    <!-- ×マーク -->
                </td>
                <td><button onclick="deletePassword({{ id }})">削除</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function deletePassword(passwordId) {
        fetch('/delete_password/' + passwordId, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // 行を削除
                    var row = document.getElementById('password-' + passwordId);
                    row.parentNode.removeChild(row);
                }
            });
    }

    function enableEditing(passwordId) {
        var row = document.getElementById('password-' + passwordId);
        var memo = row.querySelector('.editable-memo');
        var editIcon = row.querySelector('.edit-icon');
        var saveIcon = row.querySelector('.save-icon');
        var cancelIcon = row.querySelector('.cancel-icon');

        // 編集開始時のメモの内容を保存
        memo.setAttribute('data-original', memo.innerText);

        memo.setAttribute('contenteditable', 'true');
        memo.focus();

        editIcon.style.display = 'none';
        saveIcon.style.display = 'inline';
        cancelIcon.style.display = 'inline';
    }

    function saveMemo(passwordId) {
        var row = document.getElementById('password-' + passwordId);
        var memo = row.querySelector('.editable-memo');
        var newMemo = memo.innerText;

        fetch('/update_memo/' + passwordId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ memo: newMemo })
        })
            .then(response => response.json())
            .then(data => {
                // 応答に基づいて何かアクションを実行する（任意）
                // 例: ユーザーに通知する、画面を更新するなど
                if (data.status === 'success') {
                    alert('メモが更新されました');
                }
            });

        // UIの更新
        resetIcons(row);
    }

    function cancelEditing(passwordId) {
        var row = document.getElementById('password-' + passwordId);
        var memo = row.querySelector('.editable-memo');
        var originalMemo = memo.getAttribute('data-original');

        var cancel_result = window.confirm('修正を破棄しますか？');

        if(cancel_result){
            memo.innerText = originalMemo; // 元のテキストに戻す
            resetIcons(row);
        }
    }

    function resetIcons(row) {
        var memo = row.querySelector('.editable-memo');
        var editIcon = row.querySelector('.edit-icon');
        var saveIcon = row.querySelector('.save-icon');
        var cancelIcon = row.querySelector('.cancel-icon');

        memo.removeAttribute('contenteditable');
        editIcon.style.display = 'inline';
        saveIcon.style.display = 'none';
        cancelIcon.style.display = 'none';
    }
</script>
{% endblock %}